.form-rectangle-create-form {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 515px;
    max-width: 90%; /* To prevent it from becoming too wide */
    height: auto;
    max-height: 90%; /* To prevent it from becoming too tall */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px; 
    box-sizing: border-box; /* Ensure padding is included in the dimensions */
    overflow-y: auto; /* Add scroll if the content overflows */
}


.save-data-create-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 46px;
    background-color:#00AF3B;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 30px;
    margin-left: 80px;
}

.save-data-create-form:hover {
    background-color: #00D247;
}
