.graph-container {
    width: 374px;
    height: 186px;
    background-color: #00AF3B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}