html {
  font-family: "Source Sans 3", sans-serif;
}

#greenhouse-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
}

#add-sort-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  background-color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  margin-top: 80px;
}